body{
  color: #2c1827;
  font-family: 'PT Sans', sans-serif;
}
header{
  text-align: center;
  color: white;
  background-image: url("./sky.png");
  margin: 0;
  padding: 0;
  height: 150px;
}
aside{
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  background-color: #E8E8E8;
}
main{
  margin-right: 30px;
}
strong{
  font-size: 18px;
}
.header-aside{
  color: #000000;
  font-size: 20px;
}
.hr-aside{
  width: 60%;
  float: left;
}
.header-main{
  color: #000000;
  font-size: 20px;
}
.hr-main{
  width: 60%;
  float: left;
  color: #2c1827;
}
.skills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.skill{
  border: 1px solid #2c1827;
  text-align: center;
  padding: 30px;
  width: 200px;
}
